<footer>
    <div class="navbar-brand" style="    margin: 10px 43rem;"><img src="/images/mylogo.png" alt="" style="height: 3rem;
    margin-top: -13px;"><span
            style="    font-size: 22px;  color: white;">AgroIndia</span>
        <br>
    </div>

    <p>&#169; Copyright 2022 AgroIndia.com</p>
</footer>
