<div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Balod" class="card-title">Balod</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Bhatapara" class="card-title">Bhatapara</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Bilaspur" class="card-title">Bilaspur</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Dhamtari" class="card-title">Dhamtari</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Durg" class="card-title">Durg</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Jagdalpur" class="card-title">Jagdalpur</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Kawaradha" class="card-title">Kawaradha</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Kurud" class="card-title">Kurud</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Mungeli" class="card-title">Mungeli</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Navapara" class="card-title">Navapara</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Patelpali" raigarh="" class="card-title">Patelpali raigarh</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Raipur" class="card-title">Raipur</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Rajim" class="card-title">Rajim</p>
          </div>
      </button>
  </div><div class="container">

      <button class="linker shadow">
          <div class="card-body">
              <p id="Rajnandgaon" class="card-title">Rajnandgaon</p>
          </div>
      </button>
  </div>