<nav class="mynav" style="background-color: black;">

    <div class="navbar-brand"><img src="/images/mylogo.png" alt="" style="      height: 4rem;
    margin-top: -14px;

        "><span style="color:white; font-famailly:serif">AgroIndia</span></div>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a style="color:white" class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="/news">Agro News</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="/tools">Agro Tools</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="/marketprices">Market Price</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="/fertilizer-predict">Fertilizer Prediction</a>
        </li>


    </ul>
    {{!-- <ul class="d-flex flex-row-reverse align-items-center">
        <li class="nav-item ">
            <h6 class="text-center text-white mt-1 mr-2" id="abc">{{username}}</h6>
            <form method="POST" action="/">
                <button type="submit" class="btn btn-primary mx-2 mt-0" onclick="kiran">LogOut</button>
            </form>
            {{!-- <button class="btn btn-primary mx-2 mt-0" onclick="kiran"><a href="/">LogOut</a></button> --}}

        </li>
        {{!-- <li class="nav-item ">
            <button type="button" class="btn btn-primary mx-2 mt-2">Login</button>
        </li> --}}
    </ul> --}}

    <div style="  display:flex ; flex-direction: row; margin-left:12em;  margin-left: 0;position: absolute;right: 2em;margin-top:0;">
        <h6 class="text-center text-white mt-1 mr-2" id="abcd" style="margin-top: 36px;align-items: center;justify-content: center;font-size: 1.3em;margin-right: 24px;">
            <div style=" display: flex;
    flex-direction: row;margin-top: -7px;"><img src="./images/id.png" alt="" style="    height: 48px;margin-top: -11px; margin-right: 7px;">
                <div style="color: white;">{{username}}</div>
            </div>
        </h6>

        <form method="POST" action="/">
            <button type="submit" style="color:#E7F8FF;font-size: 1.4em;color: #E7F8FF;
    font-size: 1.05rem;
    font-weight: bold;height: 2.3rem;
        width: 5rem;
        background-color: blue;
        color: white;
        border-radius: 8px;
        margin: 23px 8px;
        border: none;
" class="btn btn-primary mx-2 mt-0 log" onclick="kiran() ">LogOut</button>
        </form>



    </div>
</nav>
