<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Hello, world!</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css" />
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/bootstrap.min.js" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
    .topper{
          margin-top: 10px;
    }
    
  </style>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/images/mylogo.png" alt="" width="55" height="47" class="d-inline-block mx-2 align-text-top">
        <span style="font-size: 2.3rem;">AgroIndia</span>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link topper topper " style="margin-left: 77px;text-decoration: none;
    font-size: 18px;
    font-weight: bold; color :white;
    font-family: cursive,'Baloo Bhai 2', cursive;'" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link topper" style="margin-left: 32px;text-decoration: none;
    font-size: 18px;
    font-weight: bold;
     color :white;
    font-family: cursive,'Baloo Bhai 2', cursive;'" href="/news">Agro News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link topper" style="margin-left: 32px;text-decoration: none;
    font-size: 18px;
    font-weight: bold;
     color :white;
    font-family:cursive, 'Baloo Bhai 2', cursive;'" href="/tools">Agro Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link topper" style="margin-left: 23px;text-decoration: none;
    font-size: 18px;
    font-weight: bold;
     color : white;
    font-family: cursive,'Baloo Bhai 2', cursive;'"  href="/marketprices">Market Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link topper"  style="margin-left: 19px;text-decoration: none;
    font-size: 18px;
    font-weight: bold;
     color :white;
    font-family: cursive,'Baloo Bhai 2', cursive;'" href="/fertilizer-predict">Fertilizer Prediction</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</body>

</html>