 <div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-102013188,width-160,height-120,imgsize-178648/soon-subsidised-tomatoes-to-be-sold-online-through-ondc-sources.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Soon, subsidised tomatoes to be sold online through ONDC: Sources</h5>
              <p id="articleContent" class="card-text">The Indian government is reportedly in talks with Open Network for Digital Commerce (ONDC) to offer subsidised tomatoes online to consumers for Rs 70 per kg, in the Delhi-NCR region initially. The move is aimed at providing relief to consumers amid a sharp rise in tomato prices in key cities, where it has soared to as much as Rs 150-200 per kg. </p>
              <p><small id="articleTime" class="time">Jul 21, 2023, 04:22 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/soon-subsidised-tomatoes-to-be-sold-online-through-ondc-sources/articleshow/102013188.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-102010933,width-160,height-120,imgsize-132746/wef-says-indias-agri-sector-can-scale-new-highs-with-ai-other-emerging-technologies.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">WEF says India's agri sector can scale new highs with AI, other emerging technologies</h5>
              <p id="articleContent" class="card-text">The agriculture sector in India can be transformed by promoting the use of artificial intelligence (AI) and other emerging technologies, according to a new World Economic Forum report. Releasing the phase-1 report of the 'Saagu Baagu' ('agriculture advancement' in the Telugu language) being implemented by the Telangana government in collaboration with it, the WEF said its AI for Agriculture Innovation (AI4AI) initiative has helped more than 7,000 chilli farmers get access to agritech services in the first phase.</p>
              <p><small id="articleTime" class="time">Jul 21, 2023, 02:47 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/wef-says-indias-agri-sector-can-scale-new-highs-with-ai-other-emerging-technologies/articleshow/102010933.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-102003936,width-160,height-120,imgsize-259154/rice-prices-set-to-climb-further-after-india-export-ban-trade-at-standstill.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Rice prices set to climb further after India export ban, trade at standstill</h5>
              <p id="articleContent" class="card-text">India, which accounts for 40% of the world's rice exports, has banned a major share of its exports to reduce domestic rice prices, causing the Asian rice trade to pause. Traders expect prices to climb substantially in the coming days, with a minimum gain of around $50 a metric ton and it could be $100 or even more. Nearly 90% of the water-intensive crop is produced in Asia, where the dry El Nino weather pattern is likely to curb supplies, and rice is a staple for more than 3 billion people. </p>
              <p><small id="articleTime" class="time">Jul 21, 2023, 10:52 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/rice-prices-set-to-climb-further-after-india-export-ban-trade-at-standstill/articleshow/102003936.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101989078,width-160,height-120,imgsize-79546/india-bans-export-of-non-basmati-white-rice.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">India bans export of non-basmati white rice</h5>
              <p id="articleContent" class="card-text">The Indian government has banned the export of non-basmati white rice in an effort to reduce rising prices caused by an uneven distribution of rainfall in key producing areas. Reports had suggested that India was considering a ban on most rice varieties, a move that it said could affect around 80% of the country's export volumes. </p>
              <p><small id="articleTime" class="time">Jul 21, 2023, 11:14 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/govt-bans-export-of-non-basmati-white-rice/articleshow/101989078.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101967148,width-160,height-120,imgsize-35114/us-at-wto-india-allows-gm-cotton-mustard-at-home-but-blocks-imports.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">US at WTO: India allows GM cotton, mustard at home but blocks imports</h5>
              <p id="articleContent" class="card-text">The US has asked India to revoke approval for routine cultivation of genetically modified cotton and the environmental release of GM mustard. This request comes as India mandates a non-GMO and GM-free status certificate from exporting countries for several food products. </p>
              <p><small id="articleTime" class="time">Jul 20, 2023, 12:35 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/us-at-wto-india-allows-gm-cotton-mustard-at-home-but-blocks-imports/articleshow/101967148.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101851288,width-160,height-120,imgsize-538790/why-indian-farmers-worry-despite-average-monsoon-rains.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Why Indian farmers worry despite 'average' monsoon rains</h5>
              <p id="articleContent" class="card-text">While average monsoon rains are ordinarily good for Indian farmers, uneven distribution this year has created new worries. Vegetables such as tomatoes, eggplant, capsicum and spinach are also affected by erratic rainfall distribution. Standing crops in northern India have been damaged by floods, while southern planting has been delayed. As a result, prices of certain vegetables including tomatoes have hit record highs</p>
              <p><small id="articleTime" class="time">Jul 18, 2023, 12:48 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/why-indian-farmers-worry-despite-average-monsoon-rains/articleshow/101851288.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101833555,width-160,height-120,imgsize-3111920/piyush-goyal-launches-sale-of-subsidised-chana-dal-at-rs-60/kg-under-bharat-dal-brand.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Piyush Goyal launches sale of subsidised chana dal at Rs 60/kg under 'Bharat Dal' brand</h5>
              <p id="articleContent" class="card-text">Union Food and Consumer Affairs Minister Piyush Goyal on Monday launched the sale of subsidised chana dal at Rs 60 per kg under a brand name 'Bharat Dal' to provide pulses at an affordable rate to consumers. Chana dal is being sold in Delhi-NCR through the retail outlets of National Agricultural Cooperative Marketing Federation (NAFED). It will also be available at retail stores of NCCF, Kendriya Bhandar and Mother Dairy's Safal.</p>
              <p><small id="articleTime" class="time">Jul 17, 2023, 08:03 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/piyush-goyal-launches-sale-of-subsidised-chana-dal-at-rs-60/kg-under-bharat-dal-brand/articleshow/101833555.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101797246,width-160,height-120,imgsize-29472/govt-procures-3-lakh-tonnes-of-onion-for-buffer-stock-20-higher-than-last-year.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Govt procures 3 lakh tonnes of onion for buffer stock; 20% higher than last year</h5>
              <p id="articleContent" class="card-text">The government has procured 3 lakh tonnes of onions, a 20% increase from last year's buffer stock, and is experimenting with the irradiation of onions with the Bhabha Atomic Research Centre (BARC) to extend shelf life, according to Consumer Affairs Secretary Rohit Kumar Singh.</p>
              <p><small id="articleTime" class="time">Jul 16, 2023, 12:48 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/govt-procures-3-lakh-tonnes-of-onion-for-buffer-stock-20-higher-than-last-year/articleshow/101797246.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101752374,width-160,height-120,imgsize-149576/agriculture-allied-sectors-contribution-to-gdp-can-further-rise-on-strengthened-marketing-fpos-are-key-amit-shah.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Agriculture, allied sectors contribution to GDP can further rise on strengthened marketing; FPOs are key: Amit Shah</h5>
              <p id="articleContent" class="card-text">Cooperation Minister Amit Shah has said that the Farmer Producer Organisations (FPOs) can enhance the contribution of agriculture and allied sectors to India's GDP by strengthening marketing. Shah highlighted the significant initiatives taken by the Modi government in the past nine years to boost the income of farmers. The agriculture sector's budget increased from around Rs 22,000 crore in 2013-14 to Rs 1.15 lakh crore in 2023-24. Shah also noted that primary agricultural credit societies and FPOs can aid farmers by providing modern technology and marketing methods.</p>
              <p><small id="articleTime" class="time">Jul 14, 2023, 01:48 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/agriculture-allied-sectors-contribution-to-gdp-can-further-rise-on-strengthened-marketing-fpos-are-key-amit-shah/articleshow/101752374.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101737185,width-160,height-120,imgsize-138922/heavy-rains-likely-to-halve-apple-production-in-hp-jk.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Heavy rains likely to halve apple production in HP, J&amp;K</h5>
              <p id="articleContent" class="card-text">Apple growers from the Kashmir valley, which accounts for around 75% of the 2.1-2.9 million tonnes of apples produced in the country a year, said their production this season will be less than half of the year-ago season due to torrential rains. Apple production in Himachal Pradesh, too, is expected to be halved in the current season to 15 million boxes of 22 kg each due to the damages caused by heavy downpour.</p>
              <p><small id="articleTime" class="time">Jul 14, 2023, 12:07 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/heavy-rains-likely-to-halve-apple-production-in-hp-jk/articleshow/101737185.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101737123,width-160,height-120,imgsize-14310/australia-brazil-to-grow-arhar-dal-for-indian-consumers.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Australia, Brazil to grow Arhar dal for Indian consumers</h5>
              <p id="articleContent" class="card-text">Satish Upadhyay, executive committee member, IPGA, said, "Australia had earlier done trial production in 2019 and the quality was good. However, it could not go ahead as the prices in India were not remunerative for them. Now they have again started work to grow pigeon pea for the Indian market." The sources, however, said that for the initiative to succeed, the Australian counterparts may like to get assured orders from the Indian government.</p>
              <p><small id="articleTime" class="time">Jul 14, 2023, 12:01 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/australia-brazil-to-grow-arhar-for-indian-consumers/articleshow/101737123.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101721164,width-160,height-120,imgsize-79546/india-may-ban-exports-of-most-rice-varieties-report.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">India may ban exports of most rice varieties: Report</h5>
              <p id="articleContent" class="card-text">India is considering banning exports of most rice varieties. ​​​This move by India, the world’s biggest rice shipper, may send already lofty global prices of the food staple higher as the disruptive El Niño weather pattern returns. Uneven distribution of rainfall in the key rice-growing areas of the country has pushed up prices of the grain by up to 20% in the last 10 days, ET reported earlier this week.</p>
              <p><small id="articleTime" class="time">Jul 13, 2023, 01:28 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/india-may-ban-exports-of-most-rice-varieties-report/articleshow/101721164.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101707810,width-160,height-120,imgsize-95910/central-agencies-to-procure-tomatoes-from-3-states-sell-at-discounted-rates.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Central agencies to procure tomatoes from 3 states, sell at discounted rates</h5>
              <p id="articleContent" class="card-text">Distribution will be done through retail outlets at discounted prices in Delhi-NCR region by July 14, the Department of Consumer Affairs said in a statement. The prices will stabilise next month when the new crop comes from Maharashtra and Madhya Pradesh, it said.</p>
              <p><small id="articleTime" class="time">Jul 13, 2023, 12:33 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/central-agencies-to-procure-tomatoes-from-3-states-sell-at-discounted-rates/articleshow/101707810.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101707744,width-160,height-120,imgsize-89984/erratic-rain-pushes-rice-prices-up-to-20-in-last-10-days.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Erratic rain pushes rice prices up to 20% in last 10 days</h5>
              <p id="articleContent" class="card-text">Erratic rainfall is also seen affecting crops like moong, urad and soya bean. As on July 10, the sowing of pulses and soya bean was down by more than 10% from the previous year's levels, while sowing of rice was trailing by more than 13%.</p>
              <p><small id="articleTime" class="time">Jul 13, 2023, 12:28 AM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/erratic-rain-pushes-rice-prices-up-to-20-in-last-10-days/articleshow/101707744.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101705923,width-160,height-120,imgsize-1528643/agri-ministry-asks-banks-to-promote-rs-1-lakh-cr-agriculture-infrastructure-fund.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Agri ministry asks banks to promote Rs 1 lakh cr Agriculture Infrastructure Fund</h5>
              <p id="articleContent" class="card-text">"This one month-long campaign (from July 15 to August 15) with a target of Rs 7,200 crore was launched through video conference attended by more than 100 banking executives that included MDs/Chairman, EDs of commercial banks in public and private sector, Regional Rural Banks, Small Finance Banks, NBFCs and select cooperative banks," the statement said.</p>
              <p><small id="articleTime" class="time">Jul 12, 2023, 10:00 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/agri-ministry-asks-banks-to-promote-rs-1-lakh-cr-agriculture-infrastructure-fund/articleshow/101705923.cms" target="_blank">Read More</a></button>
          </div>

          </div><div class="container">

          <div class="imgContainer">
              <img id="articleImage" src="https://img.etimg.com/thumb/msid-101691538,width-160,height-120,imgsize-95910/govt-to-procure-tomatoes-from-ap-karnataka-maharashtra-amid-price-rise.jpg" class="newsImage" alt="...">
          </div>

          <div class="card-body">
              <h5 id="articleTitle" style="font-size: 1.5rem; margin: 16px;">Govt to procure tomatoes from AP, Karnataka &amp; Maharashtra amid price rise</h5>
              <p id="articleContent" class="card-text">The Indian Department of Consumer Affairs has instructed the National Agricultural Cooperative Marketing Federation (NAFED) and National Cooperative Consumers Federation (NCCF) to procure tomatoes from Andhra Pradesh, Karnataka and Maharashtra for distribution in major consumption centres where prices have risen dramatically over the last month. The procured produce will be sold at discounted rates through retail outlets in the Delhi-NCR region. </p>
              <p><small id="articleTime" class="time">Jul 12, 2023, 02:05 PM IST</small></p>
              <button class="read-more "><a href="https://economictimes.indiatimes.com//news/economy/agriculture/dept-of-consumer-affairs-to-procure-tomatoes-from-ap-ktaka-maharashtra-amid-price-rise/articleshow/101691538.cms" target="_blank">Read More</a></button>
          </div>

          </div>