<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Form</title>
  {{!--
  <link href="../public/css/style1.css" rel="stylesheet"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{>signupcss}}
  <link rel="stylesheet" href="/public/css/bootstrap.css" />
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/bootstrap.min.js" />


</head>

<body style="height: 720px;">
  {{>navsignup}}
  <div class="d-flex align-items-center justify-content-center ">
    <div class="container w-50 h-70 mt-5">


      <form method="post" autocomplete="on" action="/signup">
        <div class="call"><img class="kiru" width="65px" height="60px" src="/images/sign.jpg" alt="">
          <h1 style="color: white;">SignUp</h1>
        </div>
<div class="box1">
        <div class="box">
          <label for="firstName" class="fl fontLabel"> Username : </label>
          <div class="new iconBox">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="fr">
            <input type="text" name="username" placeholder="User Name" class="textBox" autofocus="on" required>
          </div>
          {{!-- <div class="clr"></div> --}}
        </div>
        <div class="box">
          <label for="email" class="fl fontLabel"> Email ID: </label>
          <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class="fr">
            <input type="email" required name="email" placeholder="Email Id" class="textBox">
          </div>
          {{!-- <div class="clr"></div> --}}
        </div>
        <div class="box">
          <label for="password" class="fl fontLabel"> Password :</label>
          <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
          <div class="fr">
            <input type="Password" required name="password" placeholder="Password" class="textBox">
          </div>
          {{!-- <div class="clr"></div> --}}
        </div></div>
        <div class="box3">
          <label for="password" class="fl1 fontLabel1">Confirm Password :</label>
          <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
          <div class="fr">
            <input type="Password" required name="cpassword" placeholder="Password" class="textBox1">
          </div>
          {{!-- <div class="clr"></div> --}}
        </div>
        <div class="box terms">
          <input type="checkbox" name="Terms" required> &nbsp; I accept the terms and conditions
        </div>
        <div class="box1" style="background: #2d3e3f">
          <button type="Submit" id="kira" name="Submit" class="submit" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Sign Up</button>
        </div>
        
      </form>
    </div>
    {{# if alerto }}
    {{# each alerto }}
    <div class="alert alert-primary alert-dismissible fade show h-2 mx-2"
      role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg>
      <strong>{{ this.msg }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/each}}
    {{/if}}
  </div>
  
  <script src="/public/css/bootstrap.min.js"></script>


</body>

</html>